.cinema {
  margin: 130px auto;
  max-width: 1160px;
  color: white;
}

.section__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.poster__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
