/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .search__results {
    margin: 50px auto 0 auto !important;
  }

  .cinema {
    margin-top: 0 !important;
  }

  .poster__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .selected__movie {
    margin: 100px auto !important;
  }

  .selected__poster {
    width: 275px !important;
    height: 400px !important;
  }
  .section__title,
  .search__results__title {
    font-size: 32px !important;
    margin-bottom: 30px;
    text-align: center;
  }
  .selected__movie__rightbox {
    width: 335px;
    padding: 30px;
  }

  .search__results__for {
    font-weight: 300;
    font-size: 28px;
    line-height: 43px;
    margin-bottom: 50px;
    text-align: center;
  }

  .search__input {
    width: 260px;
  }
  .search__btn {
    margin-top: 15px;
    width: 275px !important;
  }
  .movie__card {
    margin-top: 30px;
    margin-right: 0;
  }

  .movie__description {
    font-size: 16px;
    margin-top: 30px;
    line-height: 23.6px;
  }
  .selected__movie__title {
    font-size: 28px;
    text-align: center;
  }
  .movie__headline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search__description {
    font-size: 16px;
    margin-top: 30px;
  }

  .search__results {
    margin: 100px auto 250px auto;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .cinema {
    margin: 30px auto;
    padding: 30px;
  }
  .search__results {
    margin: 30px auto 0 auto !important;
  }
  .section__title,
  .search__results__title {
    font-size: 36px !important;
    margin-bottom: 30px;
    text-align: center;
  }
  .input__wrapper {
    margin-bottom: 0;
    align-items: center;
    flex-direction: column;
  }

  .poster__wrapper {
    align-items: center;
    justify-content: center;
  }
  .search__input {
    width: 360px;
  }
  .search__btn {
    margin-top: 15px;
    width: 375px !important;
  }
  .movie__card {
    margin-right: 0;
  }
  .selected__movie {
    flex-direction: column;
    align-items: center;
    padding: 35px;
  }

  .selected__movie__rightbox {
    margin-top: 50px;
  }
  .search__results {
    padding: 35px;
  }
  .divider {
    margin: 30px auto;
  }
  .search__poster {
    margin-bottom: 30px;
  }
  .ranking__info__score {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ranking__card__container {
    padding: 30px;
  }

  .ranking__card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100% !important;
  }
  .ranking__card__info,
  .ranking__score {
    margin-left: 0px !important;
    padding: 15px !important;
  }
  .movie__title__ranking {
    text-align: center;
  }
  .ranking__title {
    font-size: 32px !important;
    margin: 100px auto !important;
    text-align: center;
    line-height: 65px;
  }
  .score {
    font-size: 45px !important;
  }
  .score__star {
    width: 45px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .navbar__container {
    padding: 0 30px;
  }
  .poster__wrapper {
    flex-wrap: wrap;
  }
  .movie__card {
    margin-top: 30px;
  }
  .cinema {
    margin: 30px auto;
    padding: 50px;
  }
  .selected__movie {
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  .search__results {
    padding: 50px;
  }
  .search__card {
    flex-direction: column;
    align-items: center;
  }
  .search__poster {
    margin-bottom: 50px;
  }
  .divider {
    margin: 50px auto;
  }
  .ranking__card__container {
    padding: 50px;
  }
  .ranking__card__info {
    width: 200px !important;
  }
}
