.cinema {
  margin: 130px auto;
  max-width: 1160px;
  color: white;
}

.section__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.poster__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
