.ranking__card__container {
  max-width: 1160px;
  margin: 0 auto;
  color: white;
}

.ranking__title {
  font-size: 48px;
  text-transform: uppercase;
  margin: 150px 0 100px 0;
}
.ranking__card {
  max-width: 1160px;
  max-height: 230px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.ranking__card__id {
  font-size: 64px;
  text-align: center;
  width: 100px;
  padding: 25px;
}
.ranking__card__img {
  width: 169px;
  height: 230px;
}

.ranking__card__info {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.ranking__card__info__type {
  margin-left: 30px;
  width: 500px;
}

.ranking__card__score {
  margin-left: auto;
  padding: 30px;
}

.score {
  font-size: 60px;
  font-weight: bold;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: white;
}
