.search__results {
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 125px;
  color: white;
}

.search__results__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.search__results__for {
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 75px;
}
